#header_space {
  height: 150px;
  width: 100%;
}
#header-container {
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
}
body {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
#header {
  margin-top: 0%;
}
#navbar {
  width: 100%;
  height: auto;
  position: fixed;
  margin-bottom: 30px;
  opacity: 100%;
}

#nav_1 {
  height: 30px;
  border-bottom: 1px solid rgb(214, 214, 214);
  justify-items: center;
  align-items: center;
  background-color: rgb(249, 250, 251);
}

#shipsTo_div {
  height: 30px;
  width: 150px;
  margin-left: 20px;
  display: flex;
  overflow: hidden;
}

#shipsTo_div p:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

#shipsTo_div p:nth-child(3) {
  font-size: 15px;
  font-weight: 800;
  margin-top: 5px;
  margin-left: 10px;
}
#shipsTo_div img {
  height: 35px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: -3px;
}

#nav_2 {
  height: 60px;
  border-bottom: 1px solid rgb(214, 214, 214);
  display: flex;
  background-color: rgb(255, 255, 255);
}

#overstock_logo {
  height: 30px;
  margin-top: 0px;
  margin-left: 30px;
  display: flex;
  text-align: center;
  width: auto;
}

#overstock_logo > a {
  text-decoration: none;
  font-size: 27px;
  margin-top: -15px;
  margin-left: 5px;
  letter-spacing: -2px;
  font-weight: 500;
  color: black;
}

#overstock_logo img {
  height: 32px;
  margin-top: 13px;
}

#search_div {
  width: 1000px;
  display: flex;
}

#search_inp {
  height: 20px;
  justify-self: center;
  margin-top: 15px;
  margin-left: 50px;
  width: 85%;
  padding: 5px;
  background-color: rgb(249, 250, 251);
  border: 1px solid rgb(198, 198, 199);
}

#search_inp::placeholder {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 10px;
}

#search_div div {
  height: 33px;
  margin-top: 15px;
  width: 4%;
  text-align: center;
  background-color: red;
}

#deals_div {
  width: 50px;
  margin-left: 50px;
  text-align: center;
}

#account_div {
  width: 50px;
  margin-left: 5px;
  text-align: center;
}
#lists_div {
  width: 50px;
  margin-left: 5px;
  text-align: center;
}
#cart_div {
  width: 50px;
  margin-left: 5px;
  text-align: center;
}

#cart_div > a {
  margin-top: 10px;
  color: black;
}

#account_div > a {
  margin-top: 10px;
  color: black;
}

.fa-magnifying-glass {
  margin-top: 10px;
  color: whitesmoke;
}

.fa-ideal {
  font-size: 27px;
  margin-top: 15px;
  color: red;
}

.fa-user {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.fa-heart {
  font-size: 27px;
  margin-top: 15px;
}

.fa-cart-shopping {
  font-size: 27px;
  margin-top: 15px;
}

#nav_text {
  margin-top: 1px;
  font-size: 13px;
}

#nav_3 {
  height: 40px;
  border-bottom: 1px solid rgb(214, 214, 214);
  display: flex;
  background-color: rgb(255, 255, 255);
}

#nav_3 > div > a {
  text-decoration: none;
  color: black;
  letter-spacing: -0.6px;
  line-height: 2px;
  font-size: 15px;
  font-weight: 500;
}

#dropDiv_1 {
  height: 97%;
  width: 65px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_2 {
  height: 97%;
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_3 {
  height: 97%;
  width: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_4 {
  height: 97%;
  width: 85px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_5 {
  height: 97%;
  width: 110px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_6 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_7 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_8 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
}
#dropDiv_9 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50px;
}
#dropDiv_10 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50px;
}
#dropDiv_11 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50px;
}
#dropDiv_12 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 150px;
}
#dropDiv_13 {
  height: 97%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  color: rgb(206, 60, 70);
  display: flex;
  flex-direction: column;
}

#nav_3 > div:last-child:hover {
  border-bottom: 3px solid red;
  cursor: pointer;
}

#nav_3 > div:hover {
  border-bottom: 3px solid black;
  cursor: pointer;
}

#nav_3 > div > p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

#brand_p {
  font-weight: 600;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
}

#extraOff_p {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

#red_p {
  color: rgb(235, 5, 5);
  font-weight: 600;
  line-height: 8px;
}
#drop_1 {
  visibility: hidden;
  height: 550px;
  width: 1700px;
  display: flex;
  margin-top: 133px;
  margin-left: 20px;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}
#drop_1 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_1 > div {
  width: 230px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
}

#drop_1 > div:nth-child(4) {
  width: 330px;
}

#drop_2 {
  display: flex;
  margin-top: 133px;

  margin-left: 130px;
  visibility: hidden;
  height: 550px;
  width: 900px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_2 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_2 > div {
  width: 180px;
  background-color: rgb(255, 255, 255);
  line-height: 12px;
  padding-left: 20px;
}
#drop_2 > div:nth-child(4) {
  width: 330px;
}

#drop_3 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 210px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_3 img {
  height: 250px;
}

#drop_3 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_3 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

#drop_3 > div:nth-child(4) {
  width: 330px;
}

#drop_4 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 300px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_4 img {
  height: 250px;
}

#drop_4 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_4 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

#drop_4 > div:nth-child(4) {
  width: 330px;
}

#drop_5 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 420px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_5 img {
  height: 250px;
}

#drop_5 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_5 > div {
  width: 200px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;

  line-height: 12px;
}
#drop_5 > div:nth-child(4) {
  width: 330px;
}

#drop_6 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 570px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_6 img {
  height: 250px;
}

#drop_6 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_6 > div {
  width: 220px;
  line-height: 10px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
#drop_6 > div:nth-child(4) {
  width: 330px;
}

#drop_7 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 600px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_7 img {
  height: 250px;
}

#drop_7 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_7 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
#drop_7 > div:nth-child(4) {
  width: 330px;
}

#drop_8 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 600px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_8 img {
  height: 250px;
}

#drop_8 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_8 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
#drop_8 > div:nth-child(4) {
  width: 330px;
}

#drop_9 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 600px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_9 img {
  height: 250px;
}

#drop_9 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_9 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
#drop_9 > div:nth-child(4) {
  width: 330px;
}

#drop_10 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 600px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_10 img {
  height: 250px;
}

#drop_10 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_10 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
#drop_10 > div:nth-child(4) {
  width: 330px;
}

#drop_11 {
  display: flex;
  visibility: hidden;
  height: 550px;
  width: 920px;
  margin-top: 133px;
  margin-left: 600px;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: rgb(66, 66, 66);
  position: fixed;
}

#drop_11 img {
  height: 250px;
}

#drop_11 p:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

#drop_11 > div {
  width: 220px;
  line-height: 12px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}

#drop_11 > div:nth-child(4) {
  width: 330px;
}

#drop_12 {
  height: 530px;
  width: 970px;
  visibility: hidden;
  margin-left: -900px;
  margin-top: 133px;
  margin-left: 550px;
  position: fixed;
}
#drop_12 > div {
  background-color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  margin-top: 0%;
}

#drop12_div1 {
  /* background-color: red; */
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
}

#drop_12 > div > p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0px;
}

#drop12_div {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 0%;
}

#drop12_div > div {
  text-align: center;
  font-weight: 500px;
  border: 1px solid silver;
  background-color: rgb(255, 255, 255);
}

#drop12_div > p {
  margin-top: 0%;
}

#drop_12 img {
  height: 130px;
  margin-bottom: 0cm;
}

#drop_13 {
  margin-top: 133px;
  margin-left: 660px;
  height: 400px;
  width: 900px;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
}

#drop13_div1 {
  display: flex;
  gap: 20px;
  height: 80px;
  width: 850px;
  margin-left: 20px;
  background-color: rgb(230, 228, 228);
}
#drop13_div1 div:nth-child(1) {
  color: red;
  font-size: 35px;
  margin-left: 30px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

#drop13_div1 div:nth-child(1) p {
  margin-top: 15px;
}

#drop13_div1 div:nth-child(2) {
  color: black;
  font-size: 25px;
  margin-left: 40px;
  font-weight: 600;
}

#drop13_div1 div:nth-child(3) {
  color: black;
  font-size: 25px;
  margin-left: 40px;
  font-weight: 600;
  background-color: aliceblue;
  height: 50px;
  width: 150px;
  text-align: center;
  margin-top: 10px;
}

#drop13_div1 div:nth-child(3) p {
  margin-top: 10px;
}

#drop13_div2 {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  margin-left: 20px;
}

#drop13_div2 > div {
  border: 1px solid silver;
}

#drop13_div2 > div > div > p {
  letter-spacing: -0.5px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
}

#drop13_div2 img {
  height: 200px;
}

#search_results_Div {
  display: flex;
  height: 470px;
  width: 800px;
  background-color: rgb(245, 245, 245);
  position: fixed;
  margin-top: -60px;
  margin-left: 270px;
  visibility: hidden;
  border: 1px solid rgb(192, 192, 192);
}

#heading_searchDiv {
  width: 250px;
  padding: 20px;

  border-right: 1px solid silver;
}

#text_resultDiv {
  height: 320px;
  width: 100%;
  font-weight: 600;
  color: rgb(83, 83, 83);
  /* border: 1px solid red; */
  overflow: hidden;
}

#search_heading {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(53, 53, 53);
}

#item_count {
  margin-bottom: -18px;
  font-weight: 600;
}

#search_imgDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  grid-gap: 21px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

#main_Div {
  height: 130px;
  width: 100px;
  border: 1px solid silver;
}

#main_title {
  font-size: 12px;
}
#main_price {
  font-size: 13px;
  color: red;
  font-weight: 600;
  margin: 2px auto;
}

#div_rating {
  display: flex;
  gap: 5px;
  font-size: 12px;
  margin-bottom: 0px;
}

#mainDiv_image {
  height: 90px;
  width: 100px;
}
